<!doctype html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
>
<head>
	<link th:replace="components::bootstrap_css" />
	<script th:replace="components::bootstrap_js"></script>
	<meta charset="UTF-8" />
	<title>Welcome</title>
</head>
<body>
<nav th:replace="components::navbar('Home')"></nav>
	<h1>Welcome to Thymeleaf</h1>
	<h2>My name is <span th:text=${name}></span></h2>
	<h3>I have <span th:text=${#lists.size(myfriends)}></span> friends here</h3>
	<h3>They are : </h3>
	<ul>
		<li th:each="frnd : ${myfriends}">
			<span th:text="${frnd}" th:style="${frnd=='Monu' } ? 'color:red' : 'color:green' "></span>
		</li>
	</ul>
</body>
</html>